{
    admin localhost:2019 {
        origins caddy-render-qxnw.onrender.com
    }
}

:80 {
    reverse_proxy {
        to {http.request.host}
    }
}

:443 {
    reverse_proxy {
        to {http.request.host}
    }
}
