:80 {
    reverse_proxy {
        to {http.request.host}
        header_up Host {http.request.host}
        header_up X-Forwarded-For {http.request.remote}
    }
}

:443 {
    reverse_proxy {
        to {http.request.host}
        header_up Host {http.request.host}
        header_up X-Forwarded-For {http.request.remote}
    }
}
